{% extends 'base.html' %}

{% block head_title %}Dashboard{% endblock %}

{% block extra_head %}
    <style>
        #f {
            text-align: center;
        }

        #addr {
            width: 50%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="header">Find your Account</h1>
    <form method="GET" id="f">
        <input name="addr" id="addr" type="text" placeholder="Ravencoin Address">
        {% csrf_token %}
        <button type="submit">Find!</button>
    </form>
{% endblock %}