{% extends 'base.html' %}

{% block head_title %}How to Play Salsa{% endblock %}

{% block content %}
    <h1 class="header">How To Play Salsa!</h1>
    <div id="setup">
        <h2>Setup Your Account</h2>
        <p>
            Setting up your account is easy! Just follow these steps:
            <ol>
                <li>Put your address in <a href="/setup/" target="_blank">here</a></li>
                <li>Receive your token</li>
                <li>Send the token back to us, to the address given to you after you submit your address</li>
                <li>Wait to be verified</li>
                <li>Start your ventures as a miner!</li>
            </ol>
        </p>
    </div>
    <div id="playing">
        <h2>How to play</h2>
        <p>
            The game is fairly simple:
            <ol>
                <li>You get sent some SALSA every day, based on how much salsa you already have and how many pickaxes you have.</li>
                <li>You can buy pickaxes for 10 RVN each, for every pickaxe you have your get 100% more salsa!</li>
                <li>Sell your hard-earned SALSA to the highest bidder on <a href="//ravenx.net">RavenX</a>!</li>
            </ol>
            Pro-tip: use your <a href="/dashboard/">dashboard</a> to keep track of all your SALSAing!
        </p>
    </div>
{% endblock %}